USE [master]
GO
/****** Object:  Database [PersonDb]    Script Date: 09/11/2020 10:33:14 ******/
CREATE DATABASE [PersonDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\PersonDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PersonDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\PersonDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonDb]
GO
/****** Object:  User [sa]    Script Date: 09/11/2020 10:33:14 ******/
CREATE USER [sa] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[affiliations]    Script Date: 09/11/2020 10:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[affiliations](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[id] [nvarchar](10) NOT NULL,
	[since] [int] NULL,
	[organization_id] [int] NULL,
	[role_id] [int] NULL,
	[person_id] [int] NULL,
 CONSTRAINT [PK_4c5daaa050b6e2d415a884e04f1] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_454335765b4671b2e94313ec4b3] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[organizations]    Script Date: 09/11/2020 10:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[organizations](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[id] [nvarchar](10) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[address] [nvarchar](50) NULL,
	[parent_id] [int] NULL,
 CONSTRAINT [PK_0f46d1fee63f4726a41d4522689] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_6b031fcd0863e3f6b44230163f9] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_9b7ca6d30b94fef571cff876884] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persons]    Script Date: 09/11/2020 10:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persons](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[id] [nvarchar](10) NOT NULL,
	[givenName] [nvarchar](20) NOT NULL,
	[surname] [nvarchar](20) NOT NULL,
	[born] [int] NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](20) NULL,
	[address] [nvarchar](50) NULL,
 CONSTRAINT [PK_629035ac00fc23f7128b3cac482] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_74278d8812a049233ce41440ac7] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[relations]    Script Date: 09/11/2020 10:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[relations](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[id] [nvarchar](10) NOT NULL,
	[since] [int] NULL,
	[kind] [nvarchar](15) NOT NULL,
	[notes] [nvarchar](50) NULL,
	[p1_id] [int] NULL,
	[p2_id] [int] NULL,
 CONSTRAINT [PK_d56a20fde5aeed40804727465d4] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_964096eb20c2a6dd4e4bb17546f] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 09/11/2020 10:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[id] [nvarchar](10) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[description] [nvarchar](50) NULL,
 CONSTRAINT [PK_5e4c3ae73ef847866ca31d5e0f4] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_648e3f5447f725579d7d4ffdfb7] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_c1433d71a4838793a49dcad46ab] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 09/11/2020 10:33:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[_id] [int] IDENTITY(1,1) NOT NULL,
	[id] [nvarchar](10) NOT NULL,
	[userName] [nvarchar](20) NOT NULL,
	[password] [nvarchar](20) NOT NULL,
	[permissions] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_46c438e5a956fb9c3e86e73e321] PRIMARY KEY CLUSTERED 
(
	[_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_a3ffb1c0c8416b9fc6f907b7433] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[affiliations]  WITH CHECK ADD  CONSTRAINT [FK_31b6a301bddca48bfef7337b531] FOREIGN KEY([person_id])
REFERENCES [dbo].[persons] ([_id])
GO
ALTER TABLE [dbo].[affiliations] CHECK CONSTRAINT [FK_31b6a301bddca48bfef7337b531]
GO
ALTER TABLE [dbo].[affiliations]  WITH CHECK ADD  CONSTRAINT [FK_60f76de11e913da7f782b2f100e] FOREIGN KEY([organization_id])
REFERENCES [dbo].[organizations] ([_id])
GO
ALTER TABLE [dbo].[affiliations] CHECK CONSTRAINT [FK_60f76de11e913da7f782b2f100e]
GO
ALTER TABLE [dbo].[affiliations]  WITH CHECK ADD  CONSTRAINT [FK_89ecd08c20174082ea11dde7948] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([_id])
GO
ALTER TABLE [dbo].[affiliations] CHECK CONSTRAINT [FK_89ecd08c20174082ea11dde7948]
GO
ALTER TABLE [dbo].[organizations]  WITH CHECK ADD  CONSTRAINT [FK_f3a7c9411eaa5f9cbc5363de331] FOREIGN KEY([parent_id])
REFERENCES [dbo].[organizations] ([_id])
GO
ALTER TABLE [dbo].[organizations] CHECK CONSTRAINT [FK_f3a7c9411eaa5f9cbc5363de331]
GO
ALTER TABLE [dbo].[relations]  WITH CHECK ADD  CONSTRAINT [FK_94f9fb0dd09acdac139ad347996] FOREIGN KEY([p2_id])
REFERENCES [dbo].[persons] ([_id])
GO
ALTER TABLE [dbo].[relations] CHECK CONSTRAINT [FK_94f9fb0dd09acdac139ad347996]
GO
ALTER TABLE [dbo].[relations]  WITH CHECK ADD  CONSTRAINT [FK_dcd9174e1b3f0f3ce42569a75df] FOREIGN KEY([p1_id])
REFERENCES [dbo].[persons] ([_id])
GO
ALTER TABLE [dbo].[relations] CHECK CONSTRAINT [FK_dcd9174e1b3f0f3ce42569a75df]
GO
USE [master]
GO
